<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="page-header">
      <h2><%= @user.name %>さんのページ
        <small>Profile</small>
      </h2>
    </div>

    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
          <span aria-hidden="true">×</span></button>
        <strong>お知らせ</strong>
        ：
        <%= flash[:notice] %>
      </div>
    <% end %>

    <ul class="list-group">
      <li class="list-group-item">名前：<%= @user.name %></li>
      <li class="list-group-item">メールアドレス：<%= @user.email %></li>
    </ul>

    <!-- タブ・メニュー -->
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#favorite_twtexts" data-toggle="tab">
          <strong>
            お気に入りのつぶやき
            <span class="badge"><%= @user.favorite_twtexts.count %></span>
          </strong>
        </a>
      </li>
      <li>
        <a href="#my_twtexts" data-toggle="tab">
          <strong>
            自分のつぶやき
            <span class="badge"><%= @user.twtexts.count %></span>
          </strong>
        </a>
      </li>
    </ul>

    <!-- タブ内容 -->
    <br>
    <div class="tab-content">

      <div class="tab-pane active" id="favorite_twtexts">
        <div class="list-group">
          <% @user.favorite_twtexts.each do |twtext| %>
            <%= render :partial => "tw", :locals => { twtext: twtext } %>
          <% end %>
        </div>
      </div>

      <div class="tab-pane" id="my_twtexts">
        <div class="list-group">
          <% @user.twtexts.each do |twtext| %>
            <%= render :partial => "tw", :locals => { twtext: twtext } %>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>
