
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="page-header">
      <h2><%= @user.name %>さんのページ
        <small>Profile</small>
      </h2>
    </div>

    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
          <span aria-hidden="true">×</span></button>
        <strong>お知らせ</strong> ： <%= flash[:notice] %>
      </div>
    <% end %>

    <ul class="list-group">
    	<li class="list-group-item">名前：<%= @user.name %></li>
    	<li class="list-group-item">メールアドレス：<%= @user.email %></li>
    </ul>

    <div class="list-group">
      
      <div class="list-group-item">
        <strong>お気に入りのつぶやき</strong>
      </div>
      <% @user.favorite_twtexts.each do |twtext| %>
        <div class="list-group-item">
          <div class="media">
            <div class="media-left">
              <%= image_tag '/tw-icon.png' %>
            </div>
            <div class="media-body tw_content">
              <%= twtext.content %>
            </div>
            <div class="pull-left">
              <span class="label label-default">投稿ユーザ：<%= twtext.user.name %></span>
            </div>
            <div class="pull-right">
              <%= link_to "詳細", twtext_path(twtext.id), class: 'btn btn-default' %>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
