<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="page-header">
      <h2><%= @user.name %>さんのページ
        <small>Profile</small>
      </h2>
    </div>

    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
          <span aria-hidden="true">×</span></button>
        <strong>お知らせ</strong>：<%= flash[:notice] %>
      </div>
    <% end %>

    <div class="row">
      <div class="hidden-xs col-sm-2">
        <%= image_tag('/tw-icon.png', :style => "width: 83px; height: 83px; object-fit: cover;", :class => "img-thumbnail img-responsive") unless @user.image.url %>
        <%= image_tag(@user.image.url, :style => "width: 100%; height: 83px; object-fit: cover;", :class => "img-thumbnail img-responsive") if @user.image.url %>
      </div>
      <div class="hidden-xs col-sm-10">
        <ul class="list-group">
          <li class="list-group-item">名前：<%= @user.name %></li>
          <li class="list-group-item">メールアドレス：<%= @user.email %></li>
        </ul>
        <br>
      </div>
    </div>

    <div class="visible-xs-block">
      <div class="row">
        <div class="col-xs-12">
          <%= image_tag(@user.image.url, :style => "width: 100%; height: 100%; object-fit: cover;", :class => "img-thumbnail img-responsive") if @user.image.url %>
          <br><br>
          <ul class="list-group">
            <li class="list-group-item">名前：<%= @user.name %></li>
            <li class="list-group-item">メールアドレス：<%= @user.email %></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- タブ・メニュー -->
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#favorite_twtexts" data-toggle="tab">
          <strong>
            お気に入りのつぶやき
            <span class="badge"><%= @user.favorite_twtexts.count %></span>
          </strong>
        </a>
      </li>
      <li>
        <a href="#my_twtexts" data-toggle="tab">
          <strong>
            自分のつぶやき
            <span class="badge"><%= @user.twtexts.count %></span>
          </strong>
        </a>
      </li>
    </ul>

    <!-- タブ内容 -->
    <br>
    <div class="tab-content">

      <div class="tab-pane active" id="favorite_twtexts">
        <div class="list-group">
          <% @user.favorite_twtexts.each do |twtext| %>
            <%= render :partial => "tw", :locals => { twtext: twtext } %>
          <% end %>
        </div>
      </div>

      <div class="tab-pane" id="my_twtexts">
        <div class="list-group">
          <% @user.twtexts.each do |twtext| %>
            <%= render :partial => "tw", :locals => { twtext: twtext } %>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>
