<br>

<div class="jumbotron">
  <h1>TwitterClone</h1>
  <p>TwitterCloneはつぶやきを投稿できるWebサービスです。</p>
  <p><%= link_to "つぶやきを見る", twtexts_path , class: 'btn btn-default btn-lg' %></p>
  <%= image_tag '/top.jpg' , class: 'topimg' %>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag 'http://1.bp.blogspot.com/-nMTqgygyczs/VqtZItHn2_I/AAAAAAAA3ZY/5ZfrZPuZzbY/s180-c/bird_aoitori_bluebird.png' %>
    </a>
    <h3>新たにつぶやく</h3>
    <p>つぶやきを新規投稿できます</p>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag 'https://4.bp.blogspot.com/-nkz5J99956U/WWXXC6KF7zI/AAAAAAABFe0/Yn0TrjKgboklRHr07HLPJ6STtn7Oz7yOgCLcBGAs/s180-c/magnifier_animal_inu.png' %>
    </a>
    <h3>つぶやきを見る</h3>
    <p>今までのつぶやきを閲覧できます</p>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag 'https://4.bp.blogspot.com/-jKAx5zAsueM/VyNdhthLBhI/AAAAAAAA6OE/zy3ySygYrQwjnIasdi_MPR8_fQBko4B7ACLcB/s180-c/pen_mawashi.png' %>
    </a>
    <h3>つぶやきを直す</h3>
    <p>過去のつぶやきを編集できます</p>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag 'https://3.bp.blogspot.com/-yS6U3E7BQ8M/WYAxsys_RUI/AAAAAAABFus/PikB6CIdAM8x4A9OaoH_Gsdtbllpg-CRwCLcBGAs/s180-c/bunbougu_syusei_tape.png' %>
    </a>
    <h3>つぶやきを消す</h3>
    <p>過去のつぶやきを削除できます</p>
  </div>
</div>
