  <div class="list-group-item">
    <div class="media">

      <div class="media-left">
        <%= image_tag('/tw-icon.png') unless twtext.user.image.url %>
        <%= image_tag(twtext.user.image.url, :style => "width: 64px; height: 64px; object-fit: cover;") if twtext.user.image.url %>
      </div>
      <div class="media-body tw_content">
        <span class="label label-default">投稿ユーザ：<%= twtext.user.name %></span>
        <span class="label label-success"><%= "★" * twtext.favorite_users.count %></span>
        <p><%= twtext.content %></p>
        <%= image_tag(twtext.image.url, :class => "img-thumbnail", :width => "300") if twtext.image.url %>
      </div>
      <div class="pull-left">
      </div>
      <div class="pull-right">
        <%= link_to "詳細", twtext_path(twtext.id), class: 'btn btn-default' %>
        <% if twtext.user == current_user %>
          <%= link_to '編集', edit_twtext_path(twtext.id), class: 'btn btn-default' %>
          <%= link_to '削除', twtext_path(twtext.id), class: 'btn btn-danger', method: :delete ,data: { confirm: 'つぶやきを本当に削除しますか？' } %>
        <% end %>
      </div>

    </div>
  </div>
