<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">TwitterClone</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">TwitterClone</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <li>
                <a href="../">トップ</a>
              </li>
              <li>
                <%= link_to "つぶやき一覧", twtexts_path %>
              </li>
              <% if logged_in? %>
                <li><%= link_to 'つぶやく', new_twtext_path %></li>
                <li><%= link_to "マイページ", user_path(current_user.id) %></li>
                <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
              <% else %>
                <li><%= link_to "新規ユーザ登録", new_user_path %></li>
                <li><%= link_to "ログイン", new_session_path %></li>
              <% end %>
              <li>
                <%= link_to "お問い合わせ", new_contact_path %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">

      <%= yield %>
      <br>
    </div>

    <footer class="footer">
      <p class="text-muted text-center">TwitterClone ＋ ImageUploader</p>
      <p class="text-muted text-center">© 2018 Copyright  Tomoyuki Kurosawa</p>
    </footer>

  </body>
</html>
